* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e2714;
}

main {
    padding-top: 4.7rem;
}

h1, h2{
    color: #C6CC0E;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 48px;
}

a, p {
    color: #9DA226;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

span {
    font-style: italic;
}

 /* Media Queries*/

@media (max-width: 480px) {

    main {
        padding-top: 14.7rem;
    }

    .logo {
        padding: 20px;
    }

    .navbar {
        grid-template-columns: auto;
    }

    .navbar-items{
        flex-direction: column;
    }

    .projects {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
    
    .about-content {
        display: grid;
        grid-template-columns: 256px;
        grid-template-rows: 256px 1fr;
        max-width: 256px;
        height: 65vh;
    }
}

@media (max-width: 769px) {
    .projects {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
}
