* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e2714;
}

main {
    padding-top: 4.7rem;
}

h1, h2{
    color: #C6CC0E;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 48px;
}

a, p {
    color: #9DA226;
    font-family: "Tomorrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

span {
    font-style: italic;
}

.logo, .navbar-items, .about, .about-skills, .project-content, .contact {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: grid;
    padding: 10px;
    grid-template-columns: 50px 1fr;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2C3523;
    box-sizing: border-box; /* Ensure padding is included in width */
    overflow: hidden; /* Prevent any overflow issues */
}

.navbar a:hover svg {
    fill: #f2fa12; /* Change the color of the h1 header */
}

.navbar-items a, .contact > a  {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-items {
    justify-content: flex-end;
}

.navbar-items a:hover {
    background-color: #C6CC0E;
    color: black;
}

.about{
    background-image: url(./public/images/pattern_1.png);
}

.about-content {
    display: grid;
    grid-template-columns: 256px 1fr;
    width: 65%;
    background-color: #2C3523;
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
    border: solid 2px transparent; /* Default border color to match hover */
    border-bottom: solid #C6CC0E;
}

.about-content:hover {
    border-color: #C6CC0E;
}

.about-image {
    position: relative;
    overflow: hidden; /* Ensure the image doesn't overflow its container */
}

.about-image h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #C6CC0E; /* Ensure the text is visible */
    background-color: #2C3523; /* Optional: Add a background for better readability */
    padding: 5px;
    width: 70%;
}

.about-image img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Smooth transition for the image zoom */
}

.about-content:hover .about-image img {
    transform: scale(1.1); /* Zoom in the image */
}

.about-header {
    transition: color 0.3s ease; /* Smooth transition for the header color */
}

.about-content:hover .about-header {
    color: #f2fa12; /* Change the color of the h1 header */
}

.about-skills {
    flex-direction: column;
}

.projects {
    background-image: url(./public/images/pattern_2.png);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    justify-items: center;
    padding: 20px;
    gap: 20px;
}

.project {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 256px 1fr;
    width: 256px;
    background-color: #2C3523;
    transition: all 0.3s ease; /* Smooth transition for the hover effect */
    border: solid 2px transparent; /* Default border color to match hover */
    border-bottom: solid #C6CC0E;
}

.project-image {
    position: relative;
    overflow: hidden; /* Ensure the image doesn't overflow its container */
}

.project-image h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #C6CC0E; /* Ensure the text is visible */
    background-color: #2C3523; /* Optional: Add a background for better readability */
    padding: 5px;
    width: 70%;
}

.project-image img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Smooth transition for the image zoom */
}

.project-header {
    transition: color 0.3s ease; /* Smooth transition for the header color */
}

.project:hover .project-image img {
    transform: scale(1.1); /* Zoom in the image */
}

.project:hover .project-content h2 {
    color: #f2fa12; /* Change the color of the h1 header */
}

.project:hover {
    border-color: #C6CC0E;
}

.project-content {
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.project-content > .project-progress{
    position: absolute;
    right: 0;
    bottom: 0;
}

.contact {
    padding: 1rem;
}

.contact > a:hover {
    text-shadow: 0 0 5px #C6CC0E; 
}

.skills {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.skills .svg-container {
    display: flex;
    gap: 20px;
    animation: moveRight 10s linear infinite;
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

footer{
    background-image: url(./public/images/pattern_1.png);
}


/*Media Queries*/

@media (max-width: 480px) {

    .logo {
        padding: 20px;
    }

    .navbar {
        grid-template-columns: auto;
    }

    .navbar-items{
        flex-direction: column;
    }

    .projects {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }

    main {
        padding-top: 17rem;
    }

    .about-content {
        display: grid;
        grid-template-columns: 256px;
        grid-template-rows: 256px 1fr;
        max-width: 256px;
        height: 65vh;
    }
}

@media (max-width: 769px) {
    .projects {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
}
